@import 'config';

.counter {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 50px;
    text-align: center;
  }
  margin-top: 10px;
  font-size: 3.75rem;
}

@media (max-width: 580px) {
  .flex-container {
    flex-direction: column;
  }
}
